/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* Background image styles */
    background-image: url('backgorundweb.jpg'); /* Replace 'path/to/your/image.jpg' with your image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optional - keeps the background image fixed while scrolling */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.page {
    background-color: rgba(255, 255, 255, 0.8); /* Adding a semi-transparent white background for better readability */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

button.register {
    background-color: #2196F3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button.register:hover {
    transform: scale(1.1);
}
